body {
  padding: 0;
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/375/040/original/modern-white-background-free-vector.jpg);
}

.about {
  text-align: left;
  background-color:#03b6fc;
  color: white;
  border-radius: 50px;
  margin-top: 4em;
  padding: 2px 50px 50px 50px;
  margin-right: 20%;
  margin-left: 20%;
}

.about h1{
  text-align: center;
}

form {
  font-weight: bold;
  border-radius: 50px;
  color: black;
  background-color: #03b6fc;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
} 

input {
  background: white;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-radius: 20px;
}

label {
  color: white;
}

textarea {
  background: white;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-radius: 20px;
}

select {
  background: white;
  width: 225px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-radius: 20px;
}

textarea:hover {
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.4);
}

input:hover{
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.4);
}

select:hover{
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.4);
}

form button{
  background: white;
  width: 150px;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 50px;
  cursor: pointer;
}

form button:hover{
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.4);
}

.details-info {
  font-size: 100%;
  text-align: center;
}

.edit-button {
 padding: 10px 40px;
 color: white;
 margin: 25px 100px 25px 25px;
 border: none;
 background-color: #03b6fc;
 border-radius: 100px;
 font-size: 20px;
 cursor: pointer;
}

.edit-button:hover {
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.4);
}

.delete-button:hover {
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.4);
}

.delete-button {
 padding: 10px 30px;
 color: white;
 border: none;
 background-color: #03b6fc;
 border-radius: 100px;
 font-size: 20px;
 cursor: pointer;
}

.instructions {
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  border-width: 6px;
  border-style: solid;
  border-color: #03b6fc;
  background-color: #03b6fc;
  border-radius: 50px;
  margin-top: 50px;
  margin-right: 16em;
  margin-left: 16em;
}

.instructions h2{
  color: white;
  text-decoration: underline;
}

.instructions p {
  padding-left: 3em;
  padding-right: 3em;
  color: white;
  text-align: left;
  
}

.details-card {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  grid-template-rows: 25% 75%;
}

.details-card .image {
  grid-column: 1;
  grid-row: 1/3;
}

.details-card img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.details-card .ingredients {
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  margin-right: 4em;
  margin-left: 4em;
  border-width: 6px;
  border-style: solid;
  border-color: #03b6fc;
  background-color: #03b6fc;
  border-radius: 50px;
  color: white;
}

.ingredients h2{
  text-decoration: underline;
}


.details-card p {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 2;
  grid-row: 2;
  flex-grow: 1;
  
}


.recipe-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.image-container div {
  width: 90%;
}

.image-container img {
  margin: auto;
  text-align: center;
  width: 75%;
  max-width: 75%;
}

.details {
  width: 80%;
  margin: auto;
}

.flex-row {
  display: flex;
}

.space {
  justify-content: space-between;
}

.card {
  border-radius: 50px;
  max-width: 24rem;
  min-width: 18rem;
  height: 350px;
  border-style: solid;
  border-color: gray;
  background-color: #03b6fc;
  cursor: pointer; 
}

.card:hover {
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.4);
}

.card img {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  width: 100%;
  height: 250px;
}

.card .info-wrapper {
  padding: 0.5em;
}

.card .img-wrapper {
  width: auto;
}

.container-grid {
  padding: 2em 0;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5em;
  grid-row-gap: 4em; */
  justify-content: space-between;
  gap: 1rem;
  
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: white;
}

a .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.main-header {
  background-color: #03b6fc;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  height: 3em;
  
}

header nav a {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: white;
  margin: 1em;
  
}

.head {
  height: 180px;
  background: url(https://thumbs.dreamstime.com/b/mexican-taco-meat-beans-vegetables-black-stone-table-latin-american-food-long-banner-format-mexican-taco-meat-97685709.jpg) no-repeat;
  background-size: cover;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.head-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.head-text {
  text-align: center;
  color: white;
  font-size: 4em;
  font-family: 'Great Vibes', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
